* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.search-form {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: rgb(201, 254, 254);
}
.search-form input,
.search-btn {
  border: 2px solid rgb(8, 79, 78);
  border-radius: 5px;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  /* grid-auto-rows: 240px; */
  grid-gap: 12px 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  margin-top: 12px;
}

.photo-card {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
  /* flex-grow: 1;
  object-fit: cover; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.photo-card .info {
  display: flex;
  justify-content: space-between;
}

.info-item {
  font-size: 14px;
  text-align: center;
}

.load-more {
  background-color: aqua;
  color: #1c0a24;
  border: 2px solid rgb(8, 79, 78);
  border-radius: 5px;
}
.end-img {
  color: #da3a25;
  font-weight: bold;
}

.none-load-more {
  display: none;
}
img:hover {
  transform: scale(1.03);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}
